{% extends 'base.html.twig' %}

{% block title %}Gestion des Événements -
{% endblock %}


{% block body %}
	<body>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
		<main>
			<div class="card-container">
				{% for event in events %}
					<div class="card">
						{% if event.getImagePath() %}
							<img src="{{ asset('uploads/events_images/' ~ event.imagePath) }}" alt="Event Image" height="50">
						{% else %}
							Aucune image
						{% endif %}
						<div class="card-content">
							<h2>{{ event.getNomEvent() }}</h2>
							<p>{{ event.getDescription() }}</p>
							<a href="{{path('app_back_show_events', {'id': event.getId()})}}" class="button">
								Find out more
								<span class="material-symbols-outlined">arrow_right_alt</span>
							</a>
						</div>
					</div>
				{% endfor %}
			</main>
		</body>

</body>
	{% endblock %}