{# templates/user/select.html.twig #}
{% extends 'base.html.twig' %}


{% block body %}
<div id="main-slider"> 
    <div id="hero" class="hero section dark-background">
        <div class="item">
            <img src="{{ asset('img/bgmain1.jpg') }}" alt="" data-aos="fade-in">
            <div class="slider-desc">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slide-offers-left">
                                <div class="slide-offers-title"><h1>OUTI-D Kids</h1><br/></div>
                                <p>"L'apprentissage devient un jeu d'enfant avec Outi-D !"</p>
                                <a href="{{path('base')}}" class="btn-get-started">Commencer</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                             <div class="slide-offers-right">
                                <div class="slide-offers-title"><h1>OUTI-D Pro</h1><br/></div>
                                <p>"Transforme tes études avec Outi-D, ta réussite commence ici !"</p>
                                <a href="{{path('base')}}"  class="btn-get-started">Commencer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div> 
{% endblock %}
