{% extends "base.html.twig" %}

{% block title %}
Home -
{% endblock%}

{% block body%}

	<h1>Add Event Genre</h1>

	{{ form_start(form, {'attr': {'enctype': 'multipart/form-data','novalidate':'novalidate'}}) }}
	{{ form_row(form.nom_genre) }} 
	{{ form_row(form.image_file) }}
	<button type="submit">Save</button>
	{{ form_end(form) }}

{% endblock %}
